<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Gemstone DAW</string>
	<key>CFBundleDisplayName</key>
	<string>Gemstone DAW</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.hlavnjak.gemstone-daw</string>
	<key>CFBundleExecutable</key>
	<string>gemstone-daw</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>@MIN_MACOS@</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Gemstone DAW records audio input for resynthesis.</string>
</dict>
</plist>
